{% extends 'core/common.html' %}
{% load static %}
{% block title %}Historia{% endblock %}
{% block content %}
 <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about_MaryJane.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Tradición Sur Americana</span>
                  <span class="section-heading-lower">Nuestra historia</span>
                </h2>
                <p>Fundada en 2020, nuestra tienda empezó cultivando las mejores variedades de Cannabis en las montañas de Los Andes Colombianos. Campesinos dedicados toda su vida con amor a la agricultura, siembran con sabiduría y cultivan con dedicación, para cosechar las mejores flores bajo los mejores estándares de calidad, base funfamental de Todos nuestros productos consectetur adipiscing elit. Donec leo dui, vehicula vel dapibus ac, tempus non enim. Nunc tempor vel lacus vel gravida. Nam sit amet pellentesque mi. </p>
                <p>Curabitur efficitur pellentesque tellus nec volutpat. In viverra mattis sem, facilisis condimentum mi rutrum ut. Quisque ut pellentesque dui.Nullam eu vehicula metus. Pellentesque id interdum elit. Aenean in efficitur enim.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>	
{% endblock %}